[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "==3.2"
djangorestframework = "==3.12"
pillow = "==9.0.1"
django-filter = "==21.1"
gunicorn = "==20.1"
django-heroku = "==0.3"
dj-database-url = "==0.5"
psycopg2-binary = "==2.9"
python-decouple = "==3.5"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
